<!-- studio/_part/attr/metaLocation -->
<%
const p = {
  label: 'Location',
  extHint: 'Metadata directory relative to application root',
  behaviors: [{name: 'LastValueStoreBehavior'}]
};
%>
<%- include(_view.get('_part/attr/_params'), {p, ...p}) %>

<div class="meta-location form-attr form-group row <%- p.required %>"
   data-handler="<%= p.handler %>"
   data-behaviors="<%= p.behaviors %>"
   data-action-binder="<%= p.actionBinder %>">
  <label class="<%- p.labelCss %> col-form-label"
       title="<%= p.extHint %>" data-t="<%- p.translate %>"><%- p.label %></label>
  <div class="<%- p.valueCss %>">
    <div class="input-group">
      <span class="input-group-text">metadata/</span>
      <input name="<%- p.name %>" type="text" placeholder="<%- p.placeholder %>"
           value="<%= p.value %>" <%- p.required %> class="form-control form-value" autocomplete="on">
    </div>
    <div class="error-block"></div>
    <div class="btn-group">
      <button class="btn-outline-secondary btn" data-value="app">app</button>
      <button class="btn-outline-secondary btn" data-value="backup">backup</button>
      <button class="btn-outline-secondary btn" data-value="temp">temp</button>
    </div>
    <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
  </div>
</div>